<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <InterSales_Overheat>
            <version>2.0.0</version>
        </InterSales_Overheat>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <InterSales_Overheat before="Mage_Adminhtml">InterSales_Overheat_Adminhtml</InterSales_Overheat>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <intersales_overheat>
                    <file>intersales_overheat.xml</file>
                </intersales_overheat>
            </updates>
        </layout>
        <translate>
            <modules>
                <intersales_overheat>
                    <files>
                        <default>InterSales_Overheat.csv</default>
                    </files>
                </intersales_overheat>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <intersales_overheat_observer>
                        <type>singleton</type>
                        <class>intersales_overheat/observer</class>
                        <method>includeTrackingCode</method>
                    </intersales_overheat_observer>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <intersales_overheat_observer>
                        <type>singleton</type>
                        <class>intersales_overheat/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </intersales_overheat_observer>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_cart_product_add_after>
                <observers>
                    <intersales_overheat_observer>
                        <type>singleton</type>
                        <class>intersales_overheat/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </intersales_overheat_observer>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <intersales_overheat_observer>
                        <type>singleton</type>
                        <class>intersales_overheat/observer</class>
                        <method>salesQuoteRemoveItem</method>
                    </intersales_overheat_observer>
                </observers>
            </sales_quote_remove_item>
            <sales_quote_item_qty_set_after>
                <observers>
                    <intersales_overheat_observer>
                        <type>singleton</type>
                        <class>intersales_overheat/observer</class>
                        <method>salesQuoteItemQtySetAfter</method>
                    </intersales_overheat_observer>
                </observers>
            </sales_quote_item_qty_set_after>
            <controller_action_postdispatch_checkout_cart_couponPost>
                <observers>
                    <intersales_overheat_observer>
                        <type>singleton</type>
                        <class>intersales_overheat/observer</class>
                        <method>checkoutApplyCouponToProduct</method>
                    </intersales_overheat_observer>
                </observers>
            </controller_action_postdispatch_checkout_cart_couponPost>
            <checkout_onepage_controller_success_action>
                <observers>
                    <intersales_overheat_observer>
                        <type>singleton</type>
                        <class>intersales_overheat/observer</class>
                        <method>checkoutOnepageControllerSuccessAction</method>
                    </intersales_overheat_observer>
                </observers>
            </checkout_onepage_controller_success_action>
            <controller_action_postdispatch_contacts_index_post>
                <observers>
                    <intersales_overheat_observer>
                        <type>singleton</type>
                        <class>intersales_overheat/observer</class>
                        <method>controllerActionPostdispatchContactsIndexPost</method>
                    </intersales_overheat_observer>
                </observers>
            </controller_action_postdispatch_contacts_index_post>
        </events>
        <layout>
            <updates>
                <intersales_overheat module="InterSales_Overheat">
                    <file>intersales_overheat.xml</file>
                </intersales_overheat>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <intersales_overheat>
                <class>InterSales_Overheat_Block</class>
            </intersales_overheat>
        </blocks>
        <helpers>
            <intersales_overheat>
                <class>InterSales_Overheat_Helper</class>
            </intersales_overheat>
        </helpers>
        <models>
            <intersales_overheat>
                <class>InterSales_Overheat_Model</class>
                <resourceModel>intersales_overheat_resource</resourceModel>
            </intersales_overheat>
            <intersales_overheat_resource>
                <class>InterSales_Overheat_Model_Resource</class>
                <entities>
                    <eventhandler>
                        <table>intersales_overheat_eventhandler</table>
                    </eventhandler>
                </entities>
            </intersales_overheat_resource>
        </models>
        <resources>
            <intersales_overheat_setup>
                <setup>
                    <module>InterSales_Overheat</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </intersales_overheat_setup>
        </resources>
        <events>
            <newsletter_subscriber_save_after>
                <observers>
                    <intersales_overheat_observer>
                        <type>singleton</type>
                        <class>intersales_overheat/observer</class>
                        <method>newsletterSubscriberSaveCommitAfter</method>
                    </intersales_overheat_observer>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
    </global>

    <default>
        <intersales_overheat>
            <general>
                <active>0</active>
            </general>
        </intersales_overheat>
    </default>
</config>