<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <isag translate="label">
            <label>Intersales AG Modules</label>
            <sort_order>99999</sort_order>
        </isag>
    </tabs>
    <sections>
        <intersales_overheat translate="label" module="intersales_overheat">
            <label>overheat</label>
            <tab>isag</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <validate_code translate="label">
                            <label>Validate Code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </validate_code>
                        <get_tracking_code translate="button_label">
                            <label></label>
                            <button_label>Get Tracking Code</button_label>
                            <frontend_model>intersales_overheat/adminhtml_system_config_gettrackingcode</frontend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </get_tracking_code>
                        <tracking_code>
                            <label>Tracking Code</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </tracking_code>
                    </fields>
                </general>
            </groups>
        </intersales_overheat>
    </sections>
</config>